@import "../base/colours";

.navigation {
  // background-color: #f7f7f7;
  // padding: 0.9rem 0;

  &__main {
    display: grid;
    grid-template-columns: 7.4rem minmax(1px, 1fr);
    color: #3a0256;
    grid-gap: 1rem;

    a {
      text-decoration: none;
    }

    h3 {
      display: grid;
      grid-template-columns: repeat(3, min-content);
      font-weight: 600;
      font-size: 1.15rem;
      align-items: center;

      span {
        background-image: url("https://mbtskoudsalg.com/images/mario-icon-png-3.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 100%;
        width: 1.5rem;
      }
    }

    &__link {
      display: block;
      border: 1px solid $border-color;
      padding: 10px;
      margin: 5px;
      background-color: #fff;
    }

    &__link:hover {
      background-color: #ddd;
    }

    &__list {
      display: none;
      list-style: none;

      /* display the navigation item list as open */
      &--open {
        display: block;
      }
    }

    &__toggle {
      display: grid;
      justify-content: center;
      grid-template-rows: repeat(4, min-content);
      grid-gap: 2px;
      .tgg {
        justify-self: center;
        //display: block;
        //content: '';
        width: 15px;
        height: 2px;
        background-color: white;
      }
      p {
        font-size: 0.5rem;
      }
    }
  }
}
